.container {
  font-size: 16px;
  margin: 1rem;
}

.table {
  &_paginator {
    font-size: 16px;
    background-color: rgba(191, 211, 224, 0.3);
  }

  [pageSizeOptions] {
    color: red;
  }
  &_body {
    width: 100%;
    background-color: rgba(191, 211, 224, 0.2);

    th {
      color: black;
      font-size: 24px;
      font-weight: 500;
    }

    td {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.action {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

mat-label {
  color: black;
}
